langchain
langchain-community
langchain-core
langchain-google-community
langchain-huggingface
langgraph
langgraph-checkpoint
langsmith
torch
uvicorn[standard]
requests
gdown
google_auth_oauthlib
langgraph-checkpoint-postgres
httpx
psycopg[binary] 
SQLAlchemy
python-dotenv
pydantic
pydantic-settings
pypdf
pdf2image
Pygments
jupyter
ipython
langchain-text-splitters
transformers
sentence-transformers
faiss-cpu
scikit-learn
matplotlib
fastapi
sentencepiece